.menu	{ 	color: #DFCFAF;
			font-size: 18px;
			font-family: times;
		}
			
A:link { 	text-decoration: none 
		}
			
A:active { 	text-decoration: none 
		}
			
A:visited { text-decoration: none 
		}

A:hover {	text-decoration: underline; 
		}		