.zbody { background-color: #ffffff; }
.zborder { border: 1px solid #cccccc; }
.zbox { border: 1px solid #5f8aa8; }
.zbox_body { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.zbox_head { background-color: #5f8aa8; color: #ffffff; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.zcolor { background-color: #5f8aa8; color: #ffffff; }
.zcolor_contrast { background-color: #cccccc; color: #333333; }
.zcolor_dark { background-color: #333333; color: #ffffff; }
.zcolor_light { background-color: #ffffff; color: #333333; }
.zform_button { border:1px solid #ffffff; font-size:12px; color:#ffffff; background:#5e89a8; font-family:Arial, Helvetica, sans-serif;}
.zform_select { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zform_textarea { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zform_textbox { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zhint { color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.zlink { color: #206fb2; }
.zsmall { color: #515151; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.ztab0 { background-color: #ecf4f9; color: #206fb2; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.ztab1 { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; font-weight: bold;}
.ztabbody { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.ztable_row {color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.ztable_row0 { background-color: #FFFFFF; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px;}
.ztable_row1 { background-color: #f9f9f9; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px;}
.ztable_row_small { color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.ztable_row_title { font-weight: bold; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 14px; }
.ztitle { font-weight: bold; color: #000000; font-family: Arial, Helvetica, sans-serif;; font-size: 15px; }
.ztitle2 { font-weight: bold; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 14px; }
.ztxt { color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.zwarn { color: #CC0000; font-weight: bold; }



.ztable_head {background:url(wb_sprites_20110405-100x150.png) repeat-x #a0b3c1  0 -90px ; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 13px;}



.zform_button		{
	
	box-shadow: 2px 2px 2px #afafaf;
	-moz-box-shadow: 2px 2px 2px #afafaf;
	-webkit-box-shadow: 2px 2px 2px #afafaf;
	}

body, html	{height:100%}

body	{
	
	font-family: arial, helvetica, sans-serif;
	color:#666666;
	margin:0;
	padding:0;
	background: url(wb_body_bg-1x466.png) repeat-x top #ffffff;
	font-size:12px;
	
	}

a	{color:#206fb2;}
a:hover	{color:#333333;}

img	{border:0px}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}



/* global styles for float and clear */
div.floatLeft	{float:left;}
div.floatRight	{float:right;}
div.clearAll	{clear:both;}

div.no_underline a	{text-decoration:none;} /* this should be left alone */

.center	{text-align:center; vertical-align:middle;}

h1  {font-size:14px; color:#727272; margin:5px 5px 0 5px; font-weight:bold; font-family: arial, helvetica, sans-serif} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
h2	{font-size:12pt; color:#666666; margin:5px 0px 2px 0px; font-weight:bold; font-family: arial, helvetica, sans-serif}
h3	{font-size:11pt; color:#666666; margin:2px 0px 1px 0px; font-weight:bold; font-family: arial, helvetica, sans-serif}


.bold	{font-weight:bold;}
.textAlignRight	{text-align:right;}

/* used for section break on wiki */
.wiki_section	{margin-bottom:25px;}


.pointer	{cursor:pointer;} /* use on any div with an onClick for document.location. */

.posRel	{position:relative;}

#zFooter	{font-size:11px; padding:2px 0 5px 0;}

.bodyContent	{margin:0 5px 5px 5px}
/* ####################  sprite */

.spritebg	{background:url(wb_sprites_20110405-100x150.png) no-repeat;}


/* header */

#mastHead	{position:relative; background:url(wb_header_bg-988x101.png) no-repeat right top; height:60px; color:#000000;}

#mhLogo	{margin:5px}

#mhContact	{margin:15px 5px 0 0; width:260px; text-align:right; font-size:12px;}
#mhContact .phonePrompt	{font-size:11px; color:#85888d; display:inline; margin-right:5px;}
#mhContact .phoneNumber	{font-size:14px; color:#3f4140; display:inline; font-weight:bold;}


#topCats, #mfLinks	{
	background: #5f8aa8;
	height:3px;
	position:relative;
	}

.dropShadow	{
	background-position: 0 -114px ; background-repeat:repeat-x ;
	height:9px; /* shadow is six pixels tall. extra height is for padding */
	position:relative;
	}
	
.bodyShadowLeft	{background:url(wb_leftshadow-23x1.png) repeat-y; width:23px;}
.bodyShadowRight	{background:url(wb_rightshadow-23x1.png) repeat-y; width:23px;}