<ELEMENT TYPE="CONFIG" TITLE="Theme:basic09_modernmaroon" FORMAT="WRAPPER" V="2" THUMBNAIL="" CREATED="20090317" AUTHOR="Zoovy:Sandip" PROJECT="184500">
<SITEBUTTONS><![CDATA[forward=~basic09_modernmaroon|gif|172|31&add_to_cart=~basic09_modernmaroon|gif|172|31&back=~basic09_modernmaroon|gif|172|31&default=~basic09_modernmaroon|gif|172|31&add_to_site=~basic09_modernmaroon|gif|172|31&checkout=~basic09_modernmaroon|gif|172|31&continue_shopping=~basic09_modernmaroon|gif|172|31&update_cart=~basic09_modernmaroon|gif|172|31&cancel=~basic09_modernmaroon|gif|172|31]]></SITEBUTTONS>
<CSS><![CDATA[.zbody { background-color: #ffffff; }
.zborder { border: 1px solid #DADADA; }
.zbox { border: 1px solid #cacaca; }
.zbox_body { background-color: #FFEDF1; color: #1A1A1A; font-family: Arial, verdana, arial, helvetica; font-size: 8pt; }
.zbox_head { background-color: #70001A; color: #FFFFFF; font-family: Arial, Verdana, helvetica; font-size: 10pt; }
.zcolor { background-color: #C5CD75; color: #FFFFFF; }
.zcolor_contrast { background-color: #FB5104; color: #FFFFFF; }
.zcolor_dark { background-color: #70001A; color: #ffffff; }
.zcolor_light { background-color: #FFEDF1; color: #1A1A1A; }
.zform_button { border: 1px solid #70001A; background-color: #70001A; color: #FFFFFF; font-size: 8pt; font-family: Arial, verdana, arial, helvetica; }
.zform_select { border: 1px solid #999999; background-color: #FFFFFF; color: #000000; font-size: 8pt; font-family: Arial, verdana, arial, helvetica; }
.zform_textarea { border: 1px solid #999999; background-color: #FFFFFF; color: #000000; font-size: 8pt; font-family: Arial, verdana, arial, helvetica; }
.zform_textbox { border: 1px solid #999999; background-color: #FFFFFF; color: #000000; font-size: 8pt; font-family: Arial, verdana, arial, helvetica; }
.zhint { color: #1A1A1A; font-family: Arial, helvetica; font-size: 8pt; }
.zlink { color: #70001A; }
.zsmall { color: #1A1A1A; font-family: Arial, helvetica; font-size: 8pt; }
.ztab0 { background-color: #1A2A34; color: #FFFFFF; font-family: Arial, helvetica; font-size: 9pt; }
.ztab1 { background-color: #F5F5F5; color: #1A1A1A; font-family: Arial, helvetica; font-size: 9pt; font-weight: bold;}
.ztabbody { background-color: #F5F5F5; color: #1A1A1A; font-family: Arial, helvetica; font-size: 9pt; }
.ztable_head { background-color: #1A2A34; color: #FFFFFF; font-family: Arial, verdana, arial, helvetica; font-size: 9pt; }
.ztable_row {color: #1A1A1A; font-family: Arial, helvetica; font-size: 9pt; }
.ztable_row0 { background-color: #FFFFFF; color: #1A1A1A; font-family: Arial, helvetica; font-size: 9pt;}
.ztable_row1 { background-color: #E7E7E7; color: #1A1A1A; font-family: Aarial, helvetica; font-size: 9pt;}
.ztable_row_small { color: #666666; font-family: Arial, helvetica; font-size: 8pt; }
.ztable_row_title { font-weight: bold; color: #1A1A1A; font-family: Arial, helvetica; font-size: 9pt; }
.ztitle { font-weight: bold; color: #1A3459; font-family: Arial, verdana, arial, helvetica; font-size: 11pt; }
.ztitle2 { font-weight: bold; color: #1A1A1A; font-family: Arial, verdana, arial, helvetica; font-size: 9pt; }
.ztxt { color: #1A1A1A; font-family: Arial, verdana, arial, helvetica; font-size: 9pt; }
.zwarn { color: #FF0000; font-weight: bold; }]]></CSS>
</ELEMENT>

<!-- URL vars -->
<ELEMENT TYPE="READONLY"  ID="CPVRQCS" LOAD="URL::HOMECATEGORY_URL" RAW="1" SUB="HOMECATEGORY_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCT" LOAD="URL::WRAPPER_URL" RAW="1" SUB="WRAPPER_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCU" LOAD="URL::CART_URL" RAW="1" SUB="CART_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCV" LOAD="URL::SUBSCRIBE_URL" RAW="1" SUB="SUBSCRIBE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCW" LOAD="URL::FEEDBACK_URL" RAW="1" SUB="FEEDBACK_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCX" LOAD="URL::LOGOUT_FUNCTION_URL" RAW="1" SUB="LOGOUT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCY" LOAD="URL::SHIPQUOTE_URL" RAW="1" SUB="SHIPQUOTE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQCZ" LOAD="URL::PRIVACY_URL" RAW="1" SUB="PRIVACY_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDA" LOAD="URL::SITEBUTTON_URL" RAW="1" SUB="SITEBUTTON_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDB" LOAD="URL::HOMEPAGE_URL" RAW="1" SUB="HOMEPAGE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDC" LOAD="URL::COUNTER_URL" RAW="1" SUB="COUNTER_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDD" LOAD="URL::RETURNS_URL" RAW="1" SUB="RETURNS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDE" LOAD="URL::PASSWORD_URL" RAW="1" SUB="PASSWORD_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDF" LOAD="URL::UPDATE_PAYMENT_URL" RAW="1" SUB="UPDATE_PAYMENT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDG" LOAD="URL::FORGOT_URL" RAW="1" SUB="FORGOT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDH" LOAD="URL::NAVBUTTON_URL" RAW="1" SUB="NAVBUTTON_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDI" LOAD="URL::CONTACT_URL" RAW="1" SUB="CONTACT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDK" LOAD="URL::GALLERY_URL" RAW="1" SUB="GALLERY_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDL" LOAD="URL::REMOVE_URL" RAW="1" SUB="REMOVE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDM" LOAD="URL::HOME_URL" RAW="1" SUB="HOME_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDN" LOAD="URL::ABOUT_ZOOVY_URL" RAW="1" SUB="ABOUT_ZOOVY_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDO" LOAD="URL::NEWS_URL" RAW="1" SUB="NEWS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDP" LOAD="URL::SECURE_URL" RAW="1" SUB="SECURE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDQ" LOAD="URL::ABOUT_URL" RAW="1" SUB="ABOUT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDR" LOAD="URL::USERBUTTON_URL" RAW="1" SUB="USERBUTTON_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDS" LOAD="URL::FASTORDER_URL" RAW="1" SUB="FASTORDER_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDT" LOAD="URL::CLOSED_URL" RAW="1" SUB="CLOSED_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDU" LOAD="URL::MAIL_FORM_URL" RAW="1" SUB="MAIL_FORM_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDV" LOAD="URL::GRAPHICS_URL" RAW="1" SUB="GRAPHICS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDW" LOAD="URL::IMAGE_URL" RAW="1" SUB="IMAGE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDX" LOAD="URL::CONTACTUS_URL" RAW="1" SUB="CONTACTUS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDY" LOAD="URL::DYNAMIC_URL" RAW="1" SUB="DYNAMIC_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQDZ" LOAD="URL::NONSECURE_URL" RAW="1" SUB="NONSECURE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEA" LOAD="URL::CONTACT_US_URL" RAW="1" SUB="CONTACT_US_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEB" LOAD="URL::SEARCH_URL" RAW="1" SUB="SEARCH_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEC" LOAD="URL::ABOUTUS_URL" RAW="1" SUB="ABOUTUS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQED" LOAD="URL::CUSTOMER_MAIN_URL" RAW="1" SUB="CUSTOMER_MAIN_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEE" LOAD="URL::MERCHANT_LOGIN_URL" RAW="1" SUB="MERCHANT_LOGIN_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEF" LOAD="URL::CATEGORY_URL" RAW="1" SUB="CATEGORY_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEG" LOAD="URL::ADULT_URL" RAW="1" SUB="ADULT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEH" LOAD="URL::CLAIM_URL" RAW="1" SUB="CLAIM_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEI" LOAD="URL::CLAIM_MULTI_URL" RAW="1" SUB="CLAIM_MULTI_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEJ" LOAD="URL::ABOUT_US_URL" RAW="1" SUB="ABOUT_US_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEK" LOAD="URL::PRODUCT_URL" RAW="1" SUB="PRODUCT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEL" LOAD="URL::RESULTS_URL" RAW="1" SUB="RESULTS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEM" LOAD="URL::REDIR_URL" RAW="1" SUB="REDIR_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEN" LOAD="URL::CONTINUE_URL" RAW="1" SUB="CONTINUE_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEO" LOAD="URL::KILL_COOKIES_URL" RAW="1" SUB="KILL_COOKIES_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEP" LOAD="URL::LOGIN_URL" RAW="1" SUB="LOGIN_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEQ" LOAD="URL::CHECKOUT_URL" RAW="1" SUB="CHECKOUT_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQER" LOAD="URL::ORDER_STATUS_URL" RAW="1" SUB="ORDER_STATUS_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQES" LOAD="URL::NO_COOKIES_URL" RAW="1" SUB="NO_COOKIES_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQET" LOAD="URL::PAYPAL_URL" RAW="1" SUB="PAYPAL_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEU" LOAD="URL::CANCEL_ORDER_URL" RAW="1" SUB="CANCEL_ORDER_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEV" LOAD="URL::MAIL_CONFIG_URL" RAW="1" SUB="MAIL_CONFIG_URL"></ELEMENT>
<ELEMENT TYPE="READONLY"  ID="CPVRQEW" LOAD="URL::DISABLED_URL" RAW="1" SUB="DISABLED_URL"></ELEMENT>

<!-- WIKI text subs --> 
<ELEMENT ID="CQHREXQ" SUB="title1" TYPE="HIDDEN"><DEFAULT><![CDATA[<h2>]]></DEFAULT></ELEMENT>
<ELEMENT ID="CQHREXR" SUB="/title1" TYPE="HIDDEN"><DEFAULT><![CDATA[</h2>]]></DEFAULT></ELEMENT>
<ELEMENT ID="CQHREXS" SUB="title2" TYPE="HIDDEN"><DEFAULT><![CDATA[<h3>]]></DEFAULT></ELEMENT>
<ELEMENT ID="CQHREXT" SUB="/title2" TYPE="HIDDEN"><DEFAULT><![CDATA[</h3>]]></DEFAULT></ELEMENT>
<ELEMENT ID="CQHREXU" SUB="title3" TYPE="HIDDEN"><DEFAULT><![CDATA[<span style="font-weight:bold;">]]></DEFAULT></ELEMENT>
<ELEMENT ID="CQHREXV" SUB="/title3" TYPE="HIDDEN"><DEFAULT><![CDATA[</span>]]></DEFAULT></ELEMENT>
<!-- WIKI list subs -->

<ELEMENT ID="WIKILIST" SUB="list" TYPE="HIDDEN"><DEFAULT><![CDATA[<ul class="wiki_list">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDLIST" SUB="/list" TYPE="HIDDEN"><DEFAULT><![CDATA[</ul>]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKILISTITEM" SUB="listitem" TYPE="HIDDEN"><DEFAULT><![CDATA[<li class="wiki_listitem">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDLISTITEM" SUB="/listitem" TYPE="HIDDEN"><DEFAULT><![CDATA[</li>]]></DEFAULT></ELEMENT>

<!-- These tags are not supported yet in wiki but will/may be some day. -->
<ELEMENT ID="WIKISECTION" SUB="section" TYPE="HIDDEN"><DEFAULT><![CDATA[<p class="wiki_section">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDSECTION" SUB="/section" TYPE="HIDDEN"><DEFAULT><![CDATA[</p>]]></DEFAULT></ELEMENT>

<!-- browsers all read styling on HR's differently so a div is used instead. -->
<ELEMENT ID="WIKIHARDBREAK" SUB="hardbreak" TYPE="SPECL">
<HTML><![CDATA[<div style='border-top:<% loadurp("CSS:zborder.border"); print(); %>; margin:5px 0px;'></div>]]></HTML>
</ELEMENT>

<ELEMENT ID="WIKISOFTBREAK" SUB="softbreak" TYPE="SPECL">
<HTML><![CDATA[<br>]]></HTML>
</ELEMENT>

<!-- WIKI table subs -->
<ELEMENT ID="WIKITABLE" SUB="table" TYPE="HIDDEN"><DEFAULT><![CDATA[<table cellspacing="0" class="zborder">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDTABLE" SUB="/table" TYPE="HIDDEN"><DEFAULT><![CDATA[</table>]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKITABLEROW" SUB="tablerow" TYPE="HIDDEN"><DEFAULT><![CDATA[<tr class="ztablerow">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDTABLEROW" SUB="/tablerow" TYPE="HIDDEN"><DEFAULT><![CDATA[</tr>]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKITABLECELL" SUB="tabledata" TYPE="HIDDEN"><DEFAULT><![CDATA[<td class="ztable_row">]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDTABLECELL" SUB="/tabledata" TYPE="HIDDEN"><DEFAULT><![CDATA[</td>]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKITABLEHEAD" SUB="tablehead" TYPE="HIDDEN"><DEFAULT><![CDATA[<td class="ztable_head"><b>]]></DEFAULT></ELEMENT>
<ELEMENT ID="WIKIENDTABLEHEAD" SUB="/tablehead" TYPE="HIDDEN"><DEFAULT><![CDATA[</b></td>]]></DEFAULT></ELEMENT>

<!-- ELEMENT STARTS HERE -->
<!-- LOGO ELEMENT -->
<ELEMENT TYPE="LOGO" SUB="WRAP_LOGO" BGCOLOR="" HEIGHT="26" WIDTH="179" MINIMAL_MODE="0" ID="WRAPPER_LOGO"></ELEMENT>

<ELEMENT ID="WRAPPER_BREADCRUMB" TYPE="BREADCRUMB" STYLE="LEGACYBREADCRUMB" NOHOME="0" OUTPUTSKIP="1" OUTPUTFILTER="!FS=C" SUB="WRAP_BREADCRUMB">
<HTML><![CDATA[
<div style='margin-bottom:5px; font-size:8pt;'>
<!-- CATEGORY -->
<a href="<% load($cat_url);  default("");  print(); %>" class="zlink"><% load($cat_pretty);  default("");  print(); %></a>
<% load($TOTALCOUNT); math(op=>"subtract",var=>$COUNT); math(op=>"subtract",var=>"1"); stop(unless=>$_); runspec(" &#187; "); print(); %>
<!-- /CATEGORY -->
</div>]]>
</HTML>
</ELEMENT>

<ELEMENT TYPE="TITLE" ID="WRAPPER_TITLE" SUB="WRAP_TITLE" OUTPUTSKIP="1" OUTPUTFILTER="FS=C,H">
<PRETEXT><![CDATA[<h1>]]></PRETEXT>
<POSTTEXT><![CDATA[</h1>]]></POSTTEXT>
</ELEMENT>

<!-- FOOTER ELEMENT -->
<ELEMENT TYPE="FOOTER" SUB="WRAP_FOOTER" ID="WRAPPER_DEFAULT_FOOTER"></ELEMENT>

<!-- HORIZONTAL SIDEBAR -->
<ELEMENT TYPE="SIDEBAR" SUB="WRAP_SIDEBAR" ID="WRAPPER_SIDEBAR_CUSTOM">
<PRETEXT><![CDATA[<table align='center'><tr>]]></PRETEXT>
<LINEPRETEXT><![CDATA[<td align='center'>]]></LINEPRETEXT>
<LINEPOSTTEXT><![CDATA[</td>]]></LINEPOSTTEXT>
<POSTTEXT><![CDATA[</tr></table>]]></POSTTEXT>
</ELEMENT>




<!-- ELEMENT ENDS HERE -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<ELEMENT TYPE="HEAD" ID="DEFAULT_HEAD"></ELEMENT>
<style>

.topnav{font-size:12pt; color:#FFFFFF; text-align:center; padding-top:10px; padding-left:5px;}
.topnav a:link, .topnav a:visited{ color:#FFFFFF; text-decoration:none; padding:0px 8px;}
.topnav a:hover{color:#FFFFFF; text-decoration:underline;}

.footer{font-size:8pt; color:#FFFFFF; line-height:29px; text-align:center; background:url(%WRAPPER_URL%/basic09_modernmaroon_footnav_bg-1x29.gif) repeat-x;}
.footer a:link, .footer a:visited{color:#FFFFFF; text-decoration:none; padding:0px 5px;}
.footer a:hover{ color:#FFFFFF; text-decoration:underline;}

/* should match the family and color set in the ztxt class */
body	{font-family:Arial, Helvetica, sans-serif; color: #1A1A1A;}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}

a	{color:#70001A;} /* this color should match the color set in zlink */
a:hover	{color:#70001A;}


h1  {font-size:12pt; color:#1A1A1A; margin:5px 0px 2px 0px; font-weight:bold;} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
h2	{font-size:12pt; color:#1A1A1A; margin:5px 0px 2px 0px; font-weight:bold;}
h3	{font-size:11pt; color:#1A1A1A; margin:2px 0px 1px 0px; font-weight:bold;}

div.no_underline a	{text-decoration:none;} /* this should be left alone */

#addtocart select, #accessories select	{font-size:11px;}

</style>
<script language="JavaScript" type="text/javascript">
function clearText(thefield)	{
	if (thefield.defaultValue == thefield.value)
		thefield.value = "";
}
</script>
</head>

<body style="background:#F8FAE4 url(%WRAPPER_URL%/basic09_modernmaroon_body_bg-4x152.gif) repeat-x top; margin:9px 0px; font-family:Arial, Helvetica, sans-serif; color:#1A1A1A; padding:0px;">
<div>
<table width="800" cellspacing="3" cellpadding="0" border="0" align="center" bgcolor="#FFFFFF">
<tr>
	<td style="height:139px;">
    	<div style="height:101px;">
        	<div style="padding-top:38px; padding-left:17px;"><a href="%HOME_URL%">%WRAP_LOGO%</a></div>
		</div>
        <div style="background:url(%WRAPPER_URL%/basic09_modernmaroon_topnav_bg-1x38.gif) repeat-x; height:38px;">
            <div class="topnav" style="float:left;"><a href="%HOME_URL%">Home</a>     |     <a href="%CONTACT_URL%">Contact</a>     |     <a href="%RETURNS_URL%#policies">Policies</a>     |     <a href="%PRIVACY_URL%">Privacy</a>     |     <a href="%CART_URL%">View Cart</a>     |   <a href="%CHECKOUT_URL%">Check Out</a></div>
            <div style="float:right; padding-top:0px; padding-right:8px;">
<form action='%RESULTS_URL%' method='get' style='margin:0px;'>
<input type='hidden' name='catalog' value=''>
<table cellspacing="0" cellpadding="2" border="0">
<tr>
	<td height="34"><input name="keywords" type="text" style="border:0px; color:#999999; font-size:7pt; padding:4px; width:140px;" value="enter your keyword here" onFocus="clearText(this)"></td>
    <td><input type="image" value="search" src="%WRAPPER_URL%/basic09_modernmaroon_btn_search-47x22.gif"></td>
</tr>
</table>
</form>
			</div>
            <div style="clear:both; height:0px; line-height:0px; font-size:0;"></div>
		</div>
    </td>
</tr>
<tr>
	<td align="left">
    	<div>%WRAP_BREADCRUMB%%WRAP_TITLE%</div>
        <div><ELEMENT TYPE="BODY" ID="THEBODY"></ELEMENT></div>
    </td>
</tr>
</table>
</div>
<div style="background:url(%WRAPPER_URL%/basic09_modernmaroon_footbody_bg-1x29.gif) repeat-x 0px 3px;">
<table width="800" cellspacing="3" cellpadding="0" border="0" bgcolor="#FFFFFF" align="center">
<tr>
	<td align="center">
    	<div class="footer"><a href="%HOME_URL%">Home</a>    |    <a href="%CONTACT_URL%">Contact</a>    |    <a href="%RETURNS_URL%#policies">Policies</a>    |     <a href="%PRIVACY_URL%">Privacy</a>    |     <a href="%CART_URL%">View Cart</a>    |    <a href="%CHECKOUT_URL%">Checkout</a></div>
        <div style="padding:5px 0px; text-align:center; color:#FFFFFF;">%WRAP_FOOTER%</div>
		<div style="text-align:center;">%WRAP_SIDEBAR%</div>
    </td>
</tr>
</table>
</div>
</body>
</html>