H1 {	color: #000000;
		font-size: 18px;
		font-family: arial }
		
p { 	color: #000000;
		font-size: 18px;
		font-family: arial }

.bold { 	color: #000000;
			font-size: 18px;
			font-family: arial;
			font-weight: bold }
		
.disclaimer { 	color: #000000;
			font-size: 13px;
			font-family: arial;
			}
								
.main	{ 	color: #000000;
			font-family: arial;
		}
			
A:link { 	color: #CC0000;

			text-decoration: none }
			
A:active { 	color: #CC0000;

			text-decoration: none }
			
A:visited { color: #CC0000;

			text-decoration: none }

A:hover {	color: #003399;
			text-decoration: underline; }		