.zbody { background-color: #ffffff; }
.zborder { border: 1px solid #cccccc; }
.zbox { border: 1px solid #5f8aa8; }
.zbox_body { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.zbox_head { background-color: #5f8aa8; color: #ffffff; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.zcolor { background-color: #5f8aa8; color: #ffffff; }
.zcolor_contrast { background-color: #cccccc; color: #333333; }
.zcolor_dark { background-color: #333333; color: #ffffff; }
.zcolor_light { background-color: #ffffff; color: #333333; }
.zform_button { border:1px solid #ffffff; font-size:12px; color:#ffffff; background:#5e89a8; font-family:Arial, Helvetica, sans-serif;}
.zform_select { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zform_textarea { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zform_textbox { border: 1px solid #5e89a8; background-color: #FFFFFF; color: #333333; font-size: 11px; font-family: Arial, Helvetica, sans-serif;; }
.zhint { color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.zlink { color: #206fb2; }
.zsmall { color: #515151; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.ztab0 { background-color: #ecf4f9; color: #206fb2; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.ztab1 { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; font-weight: bold;}
.ztabbody { background-color: #ffffff; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 11px; }
.ztable_row {color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.ztable_row0 { background-color: #FFFFFF; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px;}
.ztable_row1 { background-color: #f9f9f9; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px;}
.ztable_row_small { color: #666666; font-family: Arial, Helvetica, sans-serif;; font-size: 10px; }
.ztable_row_title { font-weight: bold; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 14px; }
.ztitle { font-weight: bold; color: #000000; font-family: Arial, Helvetica, sans-serif;; font-size: 15px; }
.ztitle2 { font-weight: bold; color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 14px; }
.ztxt { color: #333333; font-family: Arial, Helvetica, sans-serif;; font-size: 12px; }
.zwarn { color: #CC0000; font-weight: bold; }



.ztable_head {background:url(wb_sprites_20110405-100x150.png) repeat-x #a0b3c1  0 -90px ; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size: 13px;}



.zform_button		{
	
	box-shadow: 2px 2px 2px #afafaf;
	-moz-box-shadow: 2px 2px 2px #afafaf;
	-webkit-box-shadow: 2px 2px 2px #afafaf;
	}

body, html	{height:100%}

body	{
	
	font-family: arial, helvetica, sans-serif;
	color:#666666;
	margin:0;
	padding:0;
	background: url(wb_body_bg-1x466.png) repeat-x top #ffffff;
	font-size:12px;
	
	}

a	{color:#206fb2;}
a:hover	{color:#333333;}

img	{border:0px}

/* removes bottom padding/margin from form in old browsers */
form	{display:inline;}



/* global styles for float and clear */
div.floatLeft	{float:left;}
div.floatRight	{float:right;}
div.clearAll	{clear:both;}

div.no_underline a	{text-decoration:none;} /* this should be left alone */

.center	{text-align:center; vertical-align:middle;}

h1  {font-size:14px; color:#727272; margin:0px 0px 0px 0px; font-weight:bold; font-family: arial, helvetica, sans-serif} /* Used for the page title element */

/* used for the wiki header 1 & 2 */
h2	{font-size:12pt; color:#666666; margin:5px 0px 2px 0px; font-weight:bold; font-family: arial, helvetica, sans-serif}
h3	{font-size:11pt; color:#666666; margin:2px 0px 1px 0px; font-weight:bold; font-family: arial, helvetica, sans-serif}


.bold	{font-weight:bold;}
.textAlignRight	{text-align:right;}

/* used for section break on wiki */
.wiki_section	{margin-bottom:25px;}


.pointer	{cursor:pointer;} /* use on any div with an onClick for document.location. */

.posRel	{position:relative;}



#breadcrumb	{word-spacing:3px; font-size:14px; font-weight:bold; margin-bottom:5px; padding:0;}
#breadcrumb a	{word-spacing:normal; font-size:11px; font-weight:normal; text-decoration:none;}

/* ####################  sprite */

.spritebg	{background:url(wb_sprites_20110405-100x150.png) no-repeat;}


/* the width around the entire theme, including the margins and shadows */
.themeWidth	{width:1000px; 	text-align:left; 
	margin-left: auto ;
	margin-right: auto ; z-index:100; height:100%;  position:relative; background:#ffffff;}

/*
.bodyShadowLeft	{position:absolute; bottom:0; left:-23px; top:0; background:url(wb_leftshadow-23x1.png) repeat-y; width:23px;}
.bodyShadowRight	{height:100%; position:absolute; right:-23px; top:0; background:url(wb_rightshadow-23x1.png) repeat-y; width:23px;}
*/


.bodyShadow	{
	width:100%;
	background:url(wb_body_shadow-1046x1.png) repeat-y center fixed;
	position:fixed; 
	height:100%;
	top:0; left:0; right:0; bottom:0;
	}


/* header */

#mastHead	{position:relative; background:url(wb_header_bg-818x116.png) no-repeat right top; height:116px; color:#000000;}

#mhLogo	{position:absolute; top:3px; left:3px; width:200px; height:110px;}
#mhDecal	{position:absolute; top:10px; left:280px; width:350px; height:60px; overflow:hidden: text-align:center;}

#mhMenu	{position:absolute; top:6px; right:10px; width:160px; height:20px; font-size:11px; color:#89a7bd; text-align:right; word-spacing:7px;}
#mhMenu a	{text-decoration:none; color:#ffffff; word-spacing:normal;}

#mhBookmarklets	{position:absolute; top:5px; right:155px; width:120px; height:20px;}

#mhMinicart	{position:absolute; top:36px; right:10px; width:260px; text-align:right; font-size:12px; line-height:21px;}
div.cartIcon	{background-position: 0  -43px; width:25px; height:21px; display:block; margin-right:4px;}


#mhContact	{position:absolute; bottom:10px; right:10px; width:260px; text-align:right; font-size:12px;}
#mhContact .phonePrompt	{font-size:11px; color:#85888d; display:inline; margin-right:5px;}
#mhContact .phoneNumber	{font-size:14px; color:#3f4140; display:inline; font-weight:bold;}



#mhSearch	{position:absolute; bottom:10px; left:280px; width:370px;}
#mhSearch .zform_textbox	{width:280px; margin-right:5px;}


div.homeIcon	{background-position: -29px  -43px; width:18px; height:16px; display:block;}


/* for the bookmarklets in the upper right corner */
div.bookmarklet	{float:left; margin-left:3px; width:16px; height:16px; cursor:pointer; background:url(wb_sprites_20110405-100x150.png) no-repeat;}

div.twitterlet	{background-position: 0px -19px;}
div.twitterlet:hover	{background-position: 0px 0px;}


div.facebooklet	{background-position: -19px -19px;}
div.facebooklet:hover	{background-position: -19px 0px;}

div.youtubelet	{background-position: -38px -19px;}
div.youtubelet:hover	{background-position: -38px 0px;}


div.rsslet	{background-position: -57px -19px;}
div.rsslet:hover	{background-position: -57px 0px;}


div.bloglet	{background-position: -76px -19px;}
div.bloglet:hover	{background-position: -76px 0px;}



/* top level horizontal categories */

#topCats, #mfLinks	{
	background-position: 0 -83px ; background-repeat:repeat-x;
	height:32px;
	position:relative;
	}

#topCats	{word-spacing:10px;}
#topCats a	{word-spacing:normal; line-height:33px;} 

.dropShadow	{
	background-position: 0 -114px ; background-repeat:repeat-x ;
	height:9px; /* shadow is six pixels tall. extra height is for padding */
	position:relative;
	}
	


/* ################## main body col */
	
	
.bodyContent	{float:right; text-align:left; width:780px; margin:0 10px 10px 0;}
/* overrides the bodyContent width for pages with no left column. div with id is only output when needed (outputskip) */

#noLeftCol .bodyContent	{width:980px;}


/* ####################  Left Column */



#leftCol	{float:left; width:190px; margin-left:10px;}


#tier2n3_dual_cats_displayed {border:1px solid #e6f0f9; background:#ffffff; padding-top:3px;}
#tier2n3_dual_cats_displayed ul	{margin:0px; padding:0;}
#tier2n3_dual_cats_displayed ul li	{display:block; font-size:12px;}
#tier2n3_dual_cats_displayed ul li a		{display:block; text-decoration:none;}

#tier2n3_dual_cats_displayed ul.top_cats a	{padding:4px 4px;}

#tier2n3_dual_cats_displayed a:hover	{color:#ffffff; background:#5f8aa8;}
#tier2n3_dual_cats_displayed ul.sub_cats a	{padding:2px 2px 2px 10px; border-bottom:1px dashed #e3e3e3;}

#tier2n3_dual_cats_displayed ul li ul li a:before {
		 content: "\00BB \0020";
	     }


#leftCol div.elementMargin	{margin-bottom:20px;}



#recentlyViewedItems .ztable_row	{padding-bottom:8px;}
#recentlyViewedItems .ztable_row .prodListThumb	{margin-right:8px;}

#recentlyViewedItems	{border:1px solid #e6f0f9; padding:5px;}

.boxHead {position:relative; height:32px;}
.boxHeadLeft, .boxHeadRight	{width:0; height:0;}
.boxHeadText	{
	background-position: 0 -83px ; background-repeat:repeat-x;
	height:32px; line-height:32px;
	position:absolute; top:0; left:0; right:0;
	color:#ffffff; text-indent:5px; font-size:14px; font-weight:bold;
	}


/* footer */

#mfLinks	{line-height:32px; word-spacing:10px; color:#efefef; text-align:center;}
#mfLinks a	{word-spacing:normal; color:#ffffff; text-decoration:none;}
#mfNewsAndDecals	{background:url(wb_footer_bg-1000x106.png) no-repeat top;}

#mfSubscribeFrmContainer	{width:720px; margin-left:auto; margin-right:auto; line-height:31px; padding:10px 0;}
#mfSubscribeFrmContainer .zform_textbox	{width:220px; margin-right:5px;}
#mfSubscribeFrmContainer .newsPrompt	{margin-right:5px; font-size:16px; font-weight:bold;}

#zFooter	{clear:both; padding-top:8px; text-align:center; font-size:11px; color:#666666}



/* styles for dual-level nav */

/* 
found menu here:
http://www.webdesignerwall.com/demo/css3-dropdown-menu/
*/


#nav {
	margin: 0;
	margin-left:10px; /* compensates for titlebox text indent on cats and recently viewed */
	padding: 0;
	}

#nav li {
	margin: 0px 10px 0 0px;
	padding: 0 0 0 0 ; /* removing this bottom padding seems to break the menu. */
	float: left;
	position: relative;
	list-style: none;
	z-index:1000;

	}


/* main level link */
#nav a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	margin: 0;
	padding-right:10px;
	border-right:1px solid #a0b3c1;
	}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	color: #cccccc;
	}


#nav li ul li a	{padding:0 5px; line-height:22px; background:#5f8aa8; color:#ffffff; border-width:0; font-size:11px; font-weight:normal;}

/* sub levels link */
#nav ul li:hover a {
	color:#628ba9;
	background:#ffffff;
	text-shadow: none;
	}

/*
#nav ul a:hover {
	color: #006 !important;
	
	}
*/

/* dropdown */
#nav li:hover > ul {
	display: block;
	}

/* level 2 list */
#nav ul {
	display: none;
	background: #f0f5f9;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 33px;
	left: -30px;
	border: solid 1px #c7ddf2;
	border-top-width:0px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0, .3);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0, .3);
	box-shadow: 0 3px 5px rgba(0,0,0, .3);
	}

#nav ul li {
	float: none;
	margin: 0px;
	padding: 0;
	}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #436f90;
	}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
	}


/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

#nav {	display: inline-block;} 

html[xmlns] #nav {	display: block;}

* html #nav {height: 1%;}

/* generic  layout styles */
.pageLayout .elementMargin	{margin-bottom:25px;}
.pageLayout section		{margin-bottom:25px;}
.pageLayout img	{display:inline-block; vertical-align:top;}
.pageLayout table {border-collapse:collapse; padding:0;}
.pageLayout table td	{vertical-align:top;}
.pageLayout #accessories div.ztable_head	{padding:5px; text-align:right;}

/* generic product layout styles */
#prodPageFocusImages {margin-right:25px;}
#socialToolBar	{padding-bottom:10px;}
#socialToolBar .socialTool	{float:left; margin-right:5px;}
#prodQtyDiscount .zbox_head	{padding:3px;}
#prodAttributes	{margin-bottom:10px;}
.reviewRatingArticle	{padding-bottom:10px;}

/* layout specific styles */
#p20110912 .reviewSummaryTop	{float:right;}
#p20110912 #prodQtyDiscount {float:right;}
#p20110912 td.prodlistProdThumbContainer {width:100px}
#p20110912 td.prodlistProdContentContainer	{min-width:220px; padding-bottom:10px}
#p20110912 #reviews .zborder	{padding:4px; margin-bottom:5px;}
#p20110912 #reviews .zborder img	{vertical-align:text-bottom}
#p20110912 #relatedItemsProdlist	{margin-left:20px;}
#p20110912 #relatedItemsProdlist .ztable_row	{padding-top:10px;}
#p20110912 h4 {margin:0 0 4px 0;}
#p20110912 .reviewThumb {padding-right:10px;}
#p20110912 .reviewAddReviewLink	{float:right; font-weight:bold;}