/*
general css
*/


/* global 'enforcement' styles */
img	{border:none; display:inline-block; vertical-align: text-bottom;} /* text-bottom handles whitespace issue */

/* make sure the indicator on a button looks clickable */
button	{cursor:pointer;}

/* chrome and safari add an outer border/glow to the input in focus. this removes it. */
input:focus {
	outline:none;
	}


/* useful/shared styles */
.noListStyle, .noListStyle li	{list-style:none;}
.noPadOrMargin	{margin:0; padding:0;}
.displayNone	{display:none;}

.floatLeft	{float:left;}
.floatRight	{float:right;}
.clearBoth	{clear:both;}
.clearAll	{clear:both; padding:0; margin:0; font-size:1px;}


.pointer	{cursor:pointer;}


/* loading styles */

.loadingBG	{background:url(loading_blue-28x28.gif) no-repeat center center; min-height:32px;}

/* the padding is needed for buttons that use loadingButtonBG.  this is applied to all buttons for the sake of consistency */
#zCheckoutContainer button	{padding:3px 20px;}


/*
don't set background: because the bgcolor is set by another class and this is just for adding the image.
*/
.loadingButtonBg	{background-image:url(loading_white-16x16.gif); background-repeat: no-repeat; background-position: 2px center;}


/* some generic styles that may get overwritten later by id-specific styles. don't add a width to this. test checkout if any changes made. */
.noListStyle li	{text-align:left;}
.noListStyle label	{vertical-align:top; display:inline-block; margin-right:10px;}









/* error handling css. some error css is defined in the jqueryui styles */

#globalMessaging .ui-icon	{float:left; margin:auto 5px;}
#globalMessaging .appMessage {padding:5px;} /* add padding to children, not parent, that way we can empty the parent and no space is reserved */

#chkoutSummaryErrors	{clear:both;}
#chkoutSummaryErrors li	{text-align:right;}

#zCheckoutContainer .ui-widget	{padding:0; margin:0 0 5px 0;}
#zCheckoutContainer .ui-widget p	{margin:3px;}

#zCheckoutContainer .ui-state-success {
    background: #e4f2ff;
    border: 1px solid #bbd6ef;
    color: #363636;
}





/* -----------------> CHECKOUT  <----------------- */

/* a generic class that gets applies when a ship/pay method or pre-defined address is selected */
.selected	{}

#checkoutFrm label	{vertical-align:top}

#zCheckoutContainer .zbox_head	{padding:3px 12px;}
#zCheckoutContainer .zbox_body	{padding:10px;}


#globalCheckoutErrors	{text-align:right;}

/* for checkout, the 'order contents' list. */
#chkoutCartContents img.prodThumb	{height:50px; width:50px; float:left; margin:0 5px 0px 0;}
#chkoutCartContents li .ztable_row	{width:80%;} /* a width here eliminated the text portion from starting on it's own line (after the pic) */
#chkoutCartContents li	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block}



#giftCardContainer	{padding:5px 0px 5px 0px; border-bottom:1px dashed #efefef; display:block; text-align:left;}
#giftCardContainer	label	{padding-right:5px;}
#giftCardContainer	button	{margin-left:5px;}


#couponContainer	{clear:both;}
#couponMessaging	{float:right;}
#couponFrmContainer	{clear:both; text-align:right; padding:5px 0;}



#chkoutPreflightFieldset	{width:auto;}

#chkoutPreflightFieldset .preflightInputContainer	{float:left; margin-right:25px; padding-bottom:10px;}
#chkoutPreflightFieldset .preflightInputContainer .ztitle	{margin-bottom:5px;}

#chkoutPreflightFieldset div button	{margin-left:5px;}

#preflightGuestInputs label,
#preflightAccountInputs label,
#preflightAuthenticatedInputs label	{width:80px; display:inline-block;}



.checkoutFormContainer fieldset	{padding:10px;}
.checkoutFormContainer fieldset, #chkoutCartSummary	{margin:0 0px 10px 0; min-height:50px;}
.checkoutFormContainer fieldset textarea	{width:80%; height:100px;}

#chkoutBillAddressFieldset label:after, 
#chkoutAccountInfoFieldset label:after, 
#chkoutPreflightFieldset label:after, 
#chkoutShipAddressFieldset label:after,
.paybySupplemental label:after { content: ":"; }

#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:140px; }

#chkout-create_customerContainer label	{width:auto;}
#chkout-create_customerContainer label:after	{content: ""}


#cartSummaryTotalsContainer	{line-height:150%;}

#chkoutSummaryTotalsContainer	{float:right; width:35%;}
#chkoutCartContents	{float:left; width:60%}


#chkoutPlaceOrderBtn	{font-size:15px; font-weight:bold; 
	clear:both; margin-top:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	}

#cartSummaryTotals	{float:right; width:100%; text-align:right;}
#chkoutCartSummary .prodOptions	{margin-left:10px;}

#zCheckoutFrm address	{display:block; float:left; margin:10px; border:1px solid #cccccc; padding:10px; font-style:normal; text-align:left;} /* use a white border (if not colored) so elements don't shift when 'selected' class is added. */

#zCheckoutFrm fieldset li	{margin-bottom:4px;}

/* the entry after the comma below handles 'supplemental' labels (under radio buttons, like in payment) */
#zCheckoutFrm fieldset li label, #zCheckoutFrm fieldset li.paycon ul label	{text-align:right; padding-right:5px; display:inline-block;}


#zCheckoutFrm fieldset input[type=text], #zCheckoutFrm fieldset input[type=tel], #zCheckoutFrm fieldset input[type=password], #zCheckoutFrm fieldset input[type=email]	{width:220px;}
#zCheckoutFrm .checkbox	label	{text-align:left; width:240px;}
#zCheckoutFrm .checkbox	{ padding-left:120px; clear:both;}


#zCheckoutFrm fieldset li.paycon, #zCheckoutFrm fieldset li.shipcon	{margin-top:10px; }
#zCheckoutFrm fieldset li.paycon label, #zCheckoutFrm fieldset li.shipcon label	{text-align:left; line-height:20px;}


#zCheckoutFrm fieldset li.bill_zip input, #zCheckoutFrm fieldset li.ship_zip input	{width:80px;}
#zCheckoutFrm fieldset li.bill_state, #zCheckoutFrm fieldset li.ship_state	{float:left;}
#zCheckoutFrm fieldset li.bill_state input, #zCheckoutFrm fieldset li.ship_state input, #zCheckoutFrm fieldset .bankState	{width:40px;}

#zCheckoutFrm fieldset p	{clear:both;}

.mandatory input[type=text], .mandatory input[type=tel], .mandatory select	{border:1px solid #990000}
.mandatory label{color:#990000; font-weight:bold;}
.mandatory span:after	{content: "*";}


.paybySupplemental {margin-left:10px; font-weight:normal;}
.paybySupplemental .zform_select {margin-right:5px;}


.facebookSendLineItem	{float:left; margin:3px;}
.facebookSendLineItem img	{height:65px; width:56px;}


/* error containers */
p.zwarn, ul.zwarn	{border:1px solid #cc0000; padding:5px; margin:0 0 5px 0; background:#ffd6d6; clear:both; text-align:left;}
ul.zwarn li	{margin-left:15px;}

/* applied to fieldset once validated */
.validatedFieldset	{} /* border:1px solid #006600 */
.validatedFieldset legend	{} /* background-image:url(images/checkmark-25x26.png); background-position: top right; background-repeat: no-repeat; */





/* -----------------> POST-CHECKOUT MARKETING PAGE  <----------------- */

.checkoutSuccess	{margin:20px 0;}


.ocmThirdParty	{ line-height:200%; width:300px;}
.ocmThirdParty .ocm	{margin:0 5px 5px 0;  float:left;}





/*  #### NOTE!!!

if you want one page checkout to be in a two column format, use this css:


#chkoutBillAddressFieldset label, 
#chkoutAccountInfoFieldset label, 
#chkoutShipAddressFieldset label, 
.paybySupplemental label { width:130px; }

#chkoutBillAddressFieldset, #chkoutShipMethodsFieldset {clear:left; width:430px; float:left;}
#chkoutShipAddressFieldset, #chkoutPayOptionsFieldset {width:430px; float:right;}

#chkoutOrderNotesFieldset	{clear:both;}

*/